@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 18px; 
}

#map {
    height: 600px;
}

#locating-message img {
    vertical-align: middle;
}
